

.btn {

    padding: 10px 20px;
    background-color: #4d4df7;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.action-container{
    margin: 116px 150px;
    display: flex;
    justify-content: space-between;
    gap: 240px;
    align-items: center;

}
.action-title{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}

.action-dis{
    color:rgba(37, 36, 50, 0.5);
    font-size: 24px;
    font-weight: 400;
}
.wc-mini{
    height: 403;
    width: 328;
    border-radius: 40px;
}