header {
    margin: 0px;
    background-image: url(../Assets/Hero-bg.png);
}

.head-nav {
    margin: 0px 150px;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}

.hear-logo {
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
}

.btn {
    height: 50px;

    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    background-color: #4d4df7;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.header-cap {
    padding: 110px 260px 200px 260px;
    text-align: center;
}

.header-cap h1 {
    font-size: 65px;
    font-weight: bold;
    /* padding-bottom: 30px; */
}

.action-container {
    margin: 116px 150px;
    display: flex;
    justify-content: space-between;
    gap: 240px;
    align-items: center;

}

.action-title {
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}

.action-dis {
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    font-weight: 400;
}

.wc-mini {
    height: 403;
    width: 328;
    border-radius: 40px;
}



.user {
    margin: 140px;
    border-radius: 24px;
    background-color: rgb(229, 231, 255);
    padding: 50px 80px;
    text-align: center;
}

.user-title {
    color: #252432;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 0px;
}

.user-div {
    display: flex;
    justify-content: space-evenly;
}

.users-rate-number {
    font-size: 80px;
    margin-bottom: 0px;
    font-weight: bold;
    color: #4d4df7;
}

.users-dis {
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}





.form-section {
    margin: 10px 150px;
    padding: 70px 0px;
    display: flex;
    justify-content: space-between;
}

.form-caption {
    font-size: 100px;
    font-weight: bold;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    height: 64ox;
    border: none;
    margin-bottom: 24px;
    border-radius: 5px;
    display: block;
    background-color: white;
    padding: 18px 30px;
    width: 100%;
}

.btn-getin {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 19px 200px;
}

footer{
    text-align: center;
    margin: 233px 454px 145px 454px;
}
footer h1{
    color: #4E47FF;
    font-size: 100px;
    font-weight: bold;
}
footer p{
    color: #8987A1;
    font-size: 25px;
}